/* TRANSITIONS */
#intro {
  transition: opacity 0.8s ease, transform 0.8s ease;
}

#intro.fade-out {
  opacity: 0;
  transform: scale(1.05);
}

#app {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

#app.show {
  opacity: 1;
  transform: translateY(0);
}
